html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Merriweather;
    margin: 1rem;
}

main {
  display: grid;
  grid-column-gap: .75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "box1 box1 box1"
  "box1 box1 box1"
  "box2 box3 box4"
  "box5 box6 box7"
}

header {
  font-size: 1.8;
}

img {
  width: 100%;
}

figure {
  grid-area: box1;
  width: 100%;
  align-self: end;
}

p {
  grid-column: 1 / 2;
  grid-row: 2;
  z-index: 1;
  align-self: end;
}

.first {
  grid-area: box2;
}

.second {
  grid-area: box3;
}

.third {
  grid-area: box4;
}

.temple {
  grid-area: box5;
}

.colossus {
  grid-area: box6;
}

.garden {
  grid-area: box7;
}
