html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "box1 box1 box1"
  "box1 box1 box1"
  "box2 box3 box4"
  "box5 box6 box7"
}

figure {
  grid-area: box1;
}

.first {
  grid-area: box2;
}

.second {
  grid-area: box3;
}

.third {
  grid-area: box4;
}

.temple {
  grid-area: box5;
}

.colossus {
  grid-area: box6;
}

.garden {
  grid-area: box7;
}
